@font-face {
    font-family:"Cera pro, SanSerif";
    src: url('assets/font/Fontspring-DEMO-cerapro-black.otf');
    src: url('assets/font/Fontspring-DEMO-cerapro-blackitalic.otf');
    src: url('assets/font/Fontspring-DEMO-cerapro-bold.otf');
    src: url('assets/font/Fontspring-DEMO-cerapro-bolditalic.otf');
    src: url('assets/font/Fontspring-DEMO-cerapro-light.otf'); 
    src: url('assets/font/Fontspring-DEMO-cerapro-lightitalic.otf');
    src: url('assets/font/Fontspring-DEMO-cerapro-medium.otf');
    src: url('assets/font/Fontspring-DEMO-cerapro-mediumitalic.otf');
    src: url('assets/font/Fontspring-DEMO-cerapro-regular.otf');
    src: url('assets/font/Fontspring-DEMO-cerapro-regularitalic.otf');
    src: url('assets/font/Fontspring-DEMO-cerapro-thin.otf');
    src: url('assets/font/Fontspring-DEMO-cerapro-thinitalic.otf');
}

:root {
    --primary-color: rgb(255, 213, 2);
    --primary-font-size: 16px;
    --primary-btn-color: #F47D20;
    --primary-font-family: "Cera pro, SanSerif";
}

.section {
    margin:auto;
    background-color: #e4e5ec;
    width: 70%;
    height: 800px;
}

.preferiti_di_questa_settimana {
    font-family: var(--primary-font-family);
    font-size: 20px;
}

/* REGOLE PER SEZIONE 1 -"PREFERITI DI QUESTA SETTIMANA" */

.pref {
    display: grid;
    grid: "pref1 pref 2 pref3";
    gap: 1px;
    font-family: var(--primary-font-family);
    text-align: center;
    font-size: 14px;
}

.pref img {
    width: 70%;
    height: 100%;
    position: relative;
    left: 35px;
}

.pref p {
    font-size: 10px;
}

#pref1 {
    grid: "pref1"
}

#pref2 {
    grid: "pref2"
}

#pref3 {
    grid: "pref3"
}

.buy {
    font-family: var(--primary-font-family);
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* SEZIONE 2 SET IN EVIDENZA */

.set_in_evidenza {
    font-size: 17px;
    font-family: var(--primary-font-family);
    padding: 5px;
}


/*  fix dell'elemento perchè 
    renderizza meglio in flexbox anzichè in grid, ho visto nel sito lego è utilizzato flexbox,
    lascio commentato il grid con relativi richiami successivi
    negli elementi box perchè comunque funzionante */

.carosel {
    /* background-color: #e4e5ec;
    display: grid;
    grid: "box1 box2 box3 box4 box5";
    padding: 3%;
    padding: 30px; */

    display: flex;
    position: relative;
    flex-direction: row;
    padding: .50px;
    /* meglio unità di misura rem 
    per addattare a quaslsiasi browser e dispostiivo */
    gap: .75rem;  
    width: 100%;
    height: auto;
    color: #141414;
    justify-content: center;
}

.card {

    display: grid;
    font-family: var(--primary-font-family);
    width: 15%;
    height: auto;
    padding: 0%;
    background-color: white;
    font-weight: bold;
    font-size: 14px;
}

/*  per i box a seguire ho lasciato una regola di 10fr 
che serve a tenere i box aperti con relativo tag grid area*/
.box1 {
    grid: "box1";
    gap: 10fr;
}

.box2 {
    /* grid: "box2"; */
    gap: 10fr;
}

.box3 {
    /* grid: "box3"; */
    gap: 10fr;
}

.box4 {
    /* grid: "box4"; */
    gap: 10fr;
}

.box5 {
    /* grid: "box5"; */
    gap: 10fr;
}

.card img {
    width: 60%;
    height: auto;
}

.btnNews {
    position: relative;
    right: -60%;
    width: 50px;
    height: 20px;
    font-size: 10px;
    font-weight: bold;
    background-color: var(--primary-color)
}

.btnBasket {
    width: 50%;
    height: auto;
    background-color: #F47D20;
    border-radius: 25%;
    font-weight: bold;
    font-size: 7px;
}

.price {
    font-weight: bold;
}

.section2 {
    margin: 10px;
}