@font-face {
  font-family: "Cera pro, SanSerif";
  src: url("assets/font/Fontspring-DEMO-cerapro-regular.otf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Cera pro, SanSerif";
  src: url("assets/font/Fontspring-DEMO-cerapro-bold.otf");
  font-style: bold;
  font-weight: 700;
}

:root {
  --primary-color: rgb(255, 213, 2);
  --primary-font-size: 16px;
  --primary-btn-color: #f47d20;
  --primary-font-family: "Cera pro, SanSerif";
}

/* Stili generali (desktop-first) */
body {
  width: 100%;
  height: auto;
}

/* Stili per dispositivi con schermi piccoli (max 768px) */
@media (max-width: 768px) {
  .pref {
    width: 100%;
    height: auto;
  }
  .pref img {
    width: 100%;
    height: auto;
  }
  .section,
  .section2 {
    flex-direction: column; /* Cambia in colonna su schermi piccoli */
    align-items: center; /* Centra contenuti */
  }

  .carosel {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .btnNews {
    width: 100%;
    height: auto;
  }
  .imgcard {
    width: 100%;
    height: auto;
  }
  .carosel > * {
    flex: 1 1 45%; /* Aumenta la larghezza al 45% su schermi medi */
  }
}

@media (max-width: 480px) {
  .pref img {
    width: 100%;
    height: auto;
  }

  .pref {
    flex: 1 1 100%; /* Elementi a tutta larghezza su schermi molto piccoli */
  }
  .btnBasket {
    width: 100%;
    height: auto;
  }
  .btnNews {
    width: 100%;
    height: auto;
  }
  .section {
    width: 100%;
    height: auto;
    margin: auto;
    width: 100%;
    height: auto;
    background-color: #8dd8d7;
    margin: 0;
  }
  .section2 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  .carosel {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .imgcard {
    width: 100%;
    height: auto;
  }

  .pref img {
    width: 100%;
    height: auto;
  }
  .section,
  .section2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .btnNews {
    width: 100%;
    height: auto;
  }
  .carosel > * {
    flex: 1 1 100%; /* Gli elementi occupano tutta la larghezza su schermi piccoli */
  }
}

.preferiti_di_questa_settimana {
  font-family: var(--primary-font-family);
  font-size: 24px;
  padding: 0.5rem;
}

/* REGOLE PER SEZIONE 1 -"PREFERITI DI QUESTA SETTIMANA" */

.pref {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  padding: 0.5rem;
  font-family: var(--primary-font-family);
  text-align: center;
  font-size: 18px;
  gap: 0.75rem;
  max-width: 100%;
  width: auto;
  height: 100%;
  background-color: #f9fefe;
  flex-wrap: wrap;
  margin: 0;
}

#pref1 {
  font-family: var(--primary-font-family);
  font-size: normal;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#pref2 {
  font-family: var(--primary-font-family);
  font-size: normal;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#pref3 {
  font-style: var(--text-color);
  font-size: normal;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.pref img {
  width: 100%;
  height: auto;
  position: static;
  max-width: 300px; /* Dimensione massima */
  flex-wrap: wrap;
}

.pref p {
  font-size: auto;
  background-color: white;
}

.buy {
  font-family: var(--primary-font-family);
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* SEZIONE 2 SET IN EVIDENZA */

.section2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 1;
  font-size: 12px;
  font-family: var(--primary-font-family);
  margin: 0;
  align-items: stretch;
}
.set_in_evidenza {
  display: flex;
  flex-direction: row;
  justify-items: auto;
  width: 100%;
  padding: 3%;
  font-size: 24px;
  font-family: var(--primary-font-family);
  margin: 0;
  margin: 0 0 1rem 0;
}

.carosel {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  color: #141414;
  margin: 0;
  max-width: 300px;
  padding: 16px;
  gap: 1rem; /* Spazio tra gli elementi */
  align-items: stretch;
}

.cardbox1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  color: #141414;
  background-color: white;
}
.cardbox2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  color: #141414;
  background-color: white;
}
.cardbox3 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  color: #141414;
  background-color: white;
}
.cardbox4 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  color: #141414;
  background-color: white;
}
.cardbox5 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  color: #141414;
  background-color: white;
}

.btnNews {
  width: 100%;
  height: auto;
  font-style: var(--primary-font-family);
  background-color: var(--primary-color);
  font-weight: bold;
  max-width: 100%;
}

.btnBasket {
  width: 100%;
  height: auto;
  background-color: #f47d20;
  border-radius: 62.4375rem;
  font-weight: bold;
  max-width: 100%;
  justify-content: center;
  margin-inline-end: 100px;
}

.price {
  font-weight: bold;
}

.imgcard {
  width: 100%;
  height: auto; /* Altezza fissa per immagini uniformi */
  max-width: 300px;
  background-color: white;
  flex-wrap: wrap;
  justify-content: center;
  width: 300px;
  height: 250px;
}
